.dangnhapTitile{
    -fx-text-fill: #1C53A0;
    -fx-font-weight: bold;
}
.backgroundTF{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}
.text-field{
    -fx-border-insets: none;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}
.text-field:focused{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}
.buttonLogin{
    -fx-background-color: #4044ED;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
.resisterBtn{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-border-color: #4044ED;
}
